<% provide(:title, 'Home') %>

<% if signed_in? %>	
	
<%else%>
	<div class="center jumbotron">
		<h1> Welcome to Epoch Timesheets </h1>
		<h2>
			Sign-up a new organization today!
		</h2>	
		<%= link_to "Sign Up", signup_path , class: "btn btn-large btn-primary" %>
	</div>
<%end%>


