<li>
	<%= gravatar_for user%>
	<% if user.first_name != ""%>
	<%= link_to user.first_name + " " + user.last_name, user %>
	<% else %>
	<%= link_to user.email, user %>
	<% end %>

	<% if is_admin?(current_user) && !current_user?(user) %>
	| <%= link_to "remove", 
						user,
						method: :delete,
						data: {confirm: "Are you sure?"} %>
	<%end%>
</li>