<footer class="footer">
	<small><%= link_to "Epoch Computing", company_website_path %></small>
	<nav>
		<ul>
			<li><%= link_to "About", about_page_path %></li>
			<li><%= link_to "Contact", contact_page_path %></li>
		</ul>
	</nav>
</footer>